html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

mat-table {
  mat-cell:not(:last-of-type),
  mat-header-cell:not(:last-of-type) {
    padding-right: 25px;
  }
}

mat-paginator.unknown-length {
  padding-bottom: 30px;

  .mat-paginator-range-label::after {
    content: "+";
  }
}
