@import '_variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $app-background-light;
}

a {
  color: $app-primary;
  text-decoration: none;

  &:visited {
    color: $app-primary-dark;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

div.mat-card-header-text {
  margin: 0;
}

mat-table {
  mat-cell:not(:last-of-type),
  mat-header-cell:not(:last-of-type) {
    padding-right: 25px;
  }
}

mat-paginator.unknown-length {
  .mat-paginator-range-label::after {
    content: "+";
  }
}

snack-bar-container {
  &.error {
    color: $app-error;
  }
}
