<div class="footer-wrapper" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="70%"
       fxFlex.lt-md="80%"
       fxFlex.lt-sm="95%"
       fxLayoutGap="15px ">
    <mat-card fxFlex="calc(100%/3-15px)">
      <mat-card-content>
        <h1>Lorem ipsum dolor sit</h1>
        <p>Vivamus tincidunt elementum gravida. In elementum sapien eget mi pellentesque iaculis.</p>
        <a routerLink="">Donec tellus</a>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="calc(100%/3-15px)">
      <mat-card-content>
        <h1>Donec rutrum est</h1>
        <p>Phasellus sed ipsum id nunc faucibus efficitur. Quisque molestie tincidunt leo.</p>
        <a routerLink="">Blandit faucibus</a>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="calc(100%/3-15px)">
      <mat-card-content class="contact-info">
        <h1>Contacie sum</h1>
        <ul>
          <li>
            <a href="https://randomuser.me" target="_blank">randomuser.me</a>
          </li>
          <li>
            <a>dapibus.fermentum@gravida.sit</a>
          </li>
          <li>
            <a>+36-99-999-9999</a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
